/dist
.env.local
src/server/static/
func_tests/pytest_tests/kp_*
src/server/schema.yml
sensiml/build/lib
sensiml/kbclient/engine/
sensiml/kbclient.egg-info/
sensiml/dist/
src/server/datamanager/datafiles/*
src/server/datamanager/kbcodegen/
src/server/datamanager/model_store/
src/server/datamanager/capture/
src/server/datamanager/custom_transforms/
src/server/archive/
src/server/output.json
src/server/pytest_html_report.html
src/server/report_out.xml
src/server/test2.json
src/server/unittest_report.html
src/server/datamanager/cache/*
src/server/datamanager/featurefile/*
src/server/datamanager/codegen/*
src/server/static/
src/server/static/projectimages/*
src/server/templates/admin/*
src/server/templates/registration/*
src/server/datamanager/fixtures/users_prod.yml
src/server/datamanager/fixtures/site_prod.yml
src/server/datamanager/fixtures/site_dev.yml
src/server/templates/403.html
src/server/templates/base.html
src/server/templates/downloads.html
src/server/templates/eula.html
src/server/templates/terms.html
src/server/templates/base_noheader.html
docs/_build/
local_settings.py
release_obj/
*__local__.py
.ipynb_checkpoints/
.idea/
.vscode/
*.h5
tflite*.tmp
*.orig
*.pynb
*.pyc
*.sdf
*.suo
*.csv
*.csv.gz
temp.*.json
__pycache__/
!kbclient/data/*
!func_tests/pytest_tests/python_core_functions/data/*
!server/library/fixtures/*
!server/engine/validation_test_data/*
*.sublime*
*.tags*
*.o
*.a
*.tgz
*.gz
*.wixobj
.+.project
*.pydevproject
*.gen
obj
bin
Debug
Release
*.exp
*.exe
*.ilk
*.lib
*.pdb
*.opendb
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.cache
~$*
publish
server/db.sqlite3*
### CMake-autogenerated files
CMakeCache.txt
CMakeFiles
!docs/Makefile
cmake_install.cmake
install_manifest.txt
### Assume all kbfunctions-compiled libraries are generated by CMake
*.opensdf
server.log
npm-debug.*
jupyter.log
.vagrant/
*.swp
nohup.out
.coverage
htmlcov/
*.VC.db
*.user
*.dll
*.lib
*.zip
*.lnk
*.ipch
*.tar
*.tar.gz
dump.txt
*.iobj
*.ipdb
*.vscode/
tags
*.egg-info/
main
*.c~
*.log
*.txt
tempp*
!CMakeLists.txt
*/utest/out/
*.bz2
venv/
*.so
*.retry
.aws/
.DS_Store
# Environ
.env
packages
*.pid
supervisord.conf
server/latest_installers.json
server/email_whitelist
*.bak
server/celerybeat-schedule
server/{{gunicorn_pid}}
.venv/
**/classifiers/*/build/
**/pipelinecache
celerybeat-schedule.*
**/tmp/
test_cache/
.pytest_cache/
*.pkl
func_tests/pytest_tests/python_core_functions/data/Smart_Lock_IMU/
*.streamlit*
*.sml_config
*flower.db
func_tests/pytest_tests/archive/
func_tests/pytest_tests/assets/
func_tests/pytest_tests/python_core_functions/data/assets/
src/server/assets/
src/server/cov_html/
server/flower
support/customer_statistics/customer_report.ini
src/server/library/fixtures/platforms_v2.inc
func_tests/pytest_tests/output.json
func_tests/pytest_tests/pytest_html_report.html
func_tests/pytest_tests/report.html
src/server/library/fixtures/platforms_v2.yml
src/embedded_ml_sdk/utest/out/
src/embedded_ml_sdk/utest/build/
