version: "3.3"

services:
  web:
    image: webui
    build:
      context: .
    volumes:
      - ".:/sml_webui"
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    working_dir: /sml_webui
    command: yarn start:docker
